---
import { supabase } from "../lib/supabase";

const { data, error } = await supabase.auth.getSession();
const loggedIn = data.session;
if (error) {
  console.error(error);
}

const anchorCss = `cursor-pointer
                   pb-1
                   block 
                   rounded-md
                   p-2 
                   border
                   border-slate-700
                   bg-transparent
                   text-xl
                   text-slate-700
                   text-center
                   hover:bg-slate-400
                   hover:text-slate-100
                   sm:px-4
                   sm:pt-4
                   sm:rounded-none
                   sm:border-b-2
                   sm:border-l-0 
                   sm:border-r-0
                   sm:border-t-0
                   sm:border-b-transparent
                   sm:bg-transparent
                   sm:text-slate-800
                   sm:hover:border-b-2
                   sm:hover:border-slate-800
                   sm:hover:bg-transparent
                   sm:hover:text-slate-800`
---

<nav class="mx-4 w-full mt-4">
  <ul hx-boost="true" class="sm:align-center grid h-full w-full grid-cols-2 grid-rows-3 gap-4 sm:flex sm:flex-row sm:justify-center">
    <li class="col-span-2">
      <a class={anchorCss} href="/rsvp">RSVP</a>
    </li>
    <li>
      <a class={anchorCss} href="/travel">Travel</a>
    </li>
    <li>
      <a class={anchorCss} href="/menu">Menu</a>
    </li>
    <li>
        <a
          target="_blank"
          class={anchorCss} 
          href="https://www.amazon.com/wedding/share/simonandkayla"
        >
          Registry
        </a>
    </li>
    <li>
      <a class={anchorCss} href="/our-story">Our Story</a>
    </li>
    {loggedIn && (
      <li>
        <a class={anchorCss} href="/api/logout">Log out</a>
      </li>
    )}
  </ul>
</nav>
