---
import { type Person, FoodChoice } from '../lib/types.ts';
interface Props {
	person: Person;
  index: number,
}

const { person, index } = Astro.props;
---

<section
  class="mb-8 flex flex-col gap-4"
  x-data={`{ going: "${person.going ? 'going' : 'notGoing'}" }`}
  >
  <h2 class="text-xl font-bold">{`${person.firstName} ${person.lastName}`}</h2>
  <section class="grid grid-cols-2 grid-rows-2 gap-4">
    <label class="flex items-center justify-start gap-4">
      <input
        class="h-[30px] w-[30px] flex-shrink-0 accent-violet-800"
        type="radio"
        value="going"
        name=`${index}.going`
        checked={person.going}
        x-model="going"
      />
      Joyfully accept!
    </label>

    <select
      class="rounded-md px-4 py-2 text-slate-900 border border-transparent disabled:border-slate-900/30 disabled:bg-kaylasCoolColor disabled:text-slate-900/20"
      name=`${index}.foodChoice`
      x-bind:disabled="going !== 'going'"
    >
      <option value="" disabled>
        Select your entree
      </option>
      {Object.keys(FoodChoice).map((key) => {
        return <option selected={person.foodChoice === (key as FoodChoice)}>{key}</option>;
      })}
    </select>

    <label class="flex items-center justify-start gap-4">
      <input
        class="h-[30px] w-[30px] flex-shrink-0 accent-violet-800"
        type="radio"
        value="notGoing"
        name=`${index}.going`
        checked={!person.going}
        x-model="going"
      />
      Regretfully decline...
    </label>

    <input
      class="rounded-md p-2 text-slate-900 border border-transparent disabled:border-slate-900/20 disabled:bg-kaylasCoolColor"
      placeholder="Dietary restrictions"
      type="text"
      value={person.dietaryPreference}
      name=`${index}.dietaryPreference`
      x-bind:disabled="going !== 'going'"
    />
  </section>
</section>